/* MAIN STYLES */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #CEE5F2;
}

/* DARK THEME */
body.dark-theme {
    background-color: #343A40;
    color: #ADB5BD;
}

body.dark-theme .outputBox {
    background-color: #212529;
}

body.dark-theme input {
    background-color: #CED4DA;
}

body.dark-theme p {
    color: #6C757D;
}

input {
    border-radius: 0.25em;
    border: 1px solid #637081;
    padding: 1em;
    animation-name: click-me;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

button {
    background-color: #536B78;
    color: white;
    border-radius: 0.25em;
    border: none;
    cursor: pointer;
    animation-name: click-me;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

button:hover {
    background-color: #637081;
}

button:active {
    transform: scale(0.98);
}

#container {
    padding: 2em;
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

#input {
    display: flex;
    justify-content: center;
    gap: 0.3em;
}

#output {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.outputBox {
    background-color: #ACCBE1;
    border: 1px solid #3C5268;
    padding: 1em;
    margin: 1em;
    border-radius: 0.25em;
    width: 30%;
}

.outputBox-none {
    display: none;
}

#themeChanger {
    display: flex;
    justify-content: flex-end;
}

#themeChangerImg {
    max-width: 20px;
    padding: 0.5em;
    cursor: pointer;
}

/* MOBILE OPTIMISATION */
@media (max-width: 600px) {
    #output {
        flex-direction: column;
    }
    .outputBox {
        width: 90%;
        margin: 0;
        margin-bottom: 0.25em;
    }
}

/* HINT ANIMATIONS */

@keyframes click-me {
    0% {transform: scale(1.01);}
    50% {transform: scale(0.95);}
    100% {transform: scale(1);}
}